<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

<connectionStrings>
  
       <!-- connection string Stef
    <add name="SoccerManager" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\databank\SoccerManager.mdf;Integrated Security=True;Connect Timeout=30" providerName=".NET Framework Data Provider for SQL Server"/>
 -->
            
             <!-- connection string Stijn
    <add name="SoccerManager" connectionString="Data Source=.;AttachDbFilename=C:\databank\SoccerManager.mdf;Integrated Security=True;Connect Timeout=30" providerName=".NET Framework Data Provider for SQL Server"/>
 -->
            <!-- connection string Wim-->
    <add name="SoccerManager" connectionString="Data Source=.\SQLEXPRESS1;AttachDbFilename=C:\databank\SoccerManager.mdf;Integrated Security=True;Connect Timeout=30" providerName=".NET Framework Data Provider for SQL Server"/>
 </connectionStrings>
</configuration>
