<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoccerManager_WebserviceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3367/SoccerManager_Webservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="SoccerManager_WebserviceSoap"
                contract="SoccerWebservice.SoccerManager_WebserviceSoap" name="SoccerManager_WebserviceSoap" />
        </client>
    </system.serviceModel>
</configuration>